<!DOCTYPE html>
<html>
<head>

    <title>OIDC RP</title>
</head>
<body>

    <center>
        <h1>OpenID Connect RP Example</h1>
        <button id="login-button" {{ state }}>Login</button>
    </center>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://www.sakimura.org/test/openidconnect.js"></script>
    <script type="text/javascript" src="https://livejs.com/live.js"></script>

    <script type="text/javascript">
    $(function() {
        var clientInfo = {
            client_id : '795767',
            redirect_uri : 'http://127.0.0.1:9999/client/callback'
        };

        OIDC.setClientInfo(clientInfo);

        var providerInfo = OIDC.discover('http://localhost:8000');

        OIDC.setProviderInfo(providerInfo);
        OIDC.storeInfo(providerInfo, clientInfo);

        // Restore configuration information.
        OIDC.restoreInfo();


        // Make an authorization request if the user click the login button.
        $('#login-button').click(function (event) {
            OIDC.login({
                scope : 'openid profile first_name',
                response_type : 'id_token token'
            });
        });
    });
    </script>

</body>
</html>

<!--$v = json_decode(stripslashes($_GET["data"]));>